text {
  font: 20px sans-serif;
  fill: white !important;
}

.footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid #E5E5E5;
    font-size: 20px;
}

.body {
  background-color: rgb(238, 238, 238);
}

.tp-banner-container {
  height: 150px !important;
}

header a > div > img {
    width: 100px;
}

.welcome {
  font-size: 25px;
  font-weight: 300;
  margin: 25px 35px;
}

header h1 {
  font-family: 'Unkempt', cursive;
}

.center-logo h1 {
  display: inline;
  color: #fff;
  vertical-align: -15%;
  padding-left: 30px;
  font-size: 50px;
}
.center-logo img {margin: 0 10px;}
