text {
  font: 20px sans-serif;
  fill: white !important;
}

.footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid #E5E5E5;
    font-size: 20px;
}

.body {
  background-color: rgb(238, 238, 238);
}

.tp-banner-container {
  height: 150px !important;
}
