<div id="chart"></div>

<div class="table-responsive">
  <table class="table table-striped table-text table-bordered">
    <tr>
      <th style="text-align: center;">something</th>
      <th style="text-align: center;">something 2</th>
      <th style="text-align: center;">something 3</th>
      <th style="text-align: center;">something 4 </th>
      <th style="text-align: center;">something 5</th>
    </tr>
    <tr>
        <td><b>{{ test1 }}</b></td>
        <td>{{ test2 }}</td>
        <td>{{ test3 }}</td>
        <td>{{ test4 }}</td>
        <td><button type="submit" class="btn btn-danger" ng-click="doSomething()">Button</button></td>
    </tr>
  </table>
</div>
